* { 
	box-sizing: border-box;
	color: #111111;
}
p, h1, h2, h3, li, table { font-family: 'Segoe UI', sans-serif; }
html, body {
	height: 100%;
}
body {
	width: 90%;
	margin: auto;
}

h1, h2, h3 {
	margin-block-end: 0;
	border-bottom: solid 1px gray;
}

h1 { margin-block-start: 0em; }
p  { margin-block-start: 0.5em; }

h1 { font-size: 3em; }
h2 { font-size: 2em; }
h3 { font-size: 1.5em; }

a        { color: #0066ff; }
a:hover  { color: #005ae1; }
a:active { color: #00aaff; }

code:not([class]) {
	background-color: #f0f0f0;
	border-radius: 5px;
	padding: 3px;
	transition: 0.3s;
}
code:not([class]):hover {
	background-color: #e9e9e9;
	transition: 0.3s;
}

table {
	border-collapse: collapse;
	width: 100%;
}
th {
	background-color: #f8f8f8;
}
td, th {
	border: 1px solid #ddd;
	text-align: center;
	padding: 8px;
}